.FormInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFF99;
  padding: 1rem;
  width:300px;
    margin:0px auto;
}

.LoginForm {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);

}

.Link
{
    padding-top: 1rem;
   margin-left: auto;
  order: 2;
}

@media screen and (max-width: 500px) {
    .Landing {
         grid-template-columns: repeat(1, 1fr);
    }
}