.LoginFormInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 300px;
  margin: 0px auto;
}

.LoginForm {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background: #FFFF99;
}

.LoginLink {
  padding-top: 1rem;
  margin-left: auto;
  order: 2;
}