.DevsLetterHeader {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 20vh;
}

.HeaderCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #BFFDCD;
  padding: 1rem;
}