.ProducerSignUpFormInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 300px;
  margin: 0px auto;
}

.ProducerSignUpForm {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background: #ffff99;
}
