.Header {
  text-align: center;
  padding: 2rem;
}

.Header a {
  color: black;
  text-decoration: none;
  line-height: 25px;
}

.Header a.logo {
  font-size: 48px;
  font-weight: 400;
}

/* .Header a.logo::after{
  content: "✉️";
} */


@media screen and (max-width: 500px) {
  .Header a {
    display: block;
  }
}